body {
  text-align: center;
  color: blue;
  font-family: "Arial";
  font-size: 16px;
}

#cabecera {
  background: grey;
  color: white;
  font-weight: bold;
  box-shadow: 7px 18px 53px -23px rgba(0, 0, 0, 0.89);
  margin: 0;
  padding: 0.5em;
}

#container {
  width: 70%;
  padding: 0;
  text-align: left;
  border: 1px solid #ddd;
  margin: 0 auto;
}

#container h1 {
  font-size: 20px;
}
